@import url("https://fonts.googleapis.com/css2? family= Montserrat & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
}
.header .logo {
  display: flex;
  justify-content: left;
}
.header .navegador {
  color: black;
  font-size: 20px;
  background-color: #E2DADB;
  display: flex;
  justify-content: right;
}
.header .navegador .menu {
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-size: 16px;
}
.header .navegador .menu .menu-item :hover {
  background: #e5b5b5;
  color: black;
  transition: 2s;
}
.header .navegador .menu .menu-item :hover .menu-link {
  text-decoration: none;
}

.body {
  background-color: #E2DADB;
  margin: 3rem;
}

.messi {
  background-color: #E2DADB;
  color: black;
}

.section-messi {
  text-align: center;
  font-size: 20px;
}
.section-messi .messi-info .messi-title {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: black;
  font-family: "Montserrat", sans-serif;
  margin: 2.5rem;
}
.section-messi .messi-info p {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
.section-messi .messi-info p .parrafo {
  padding: 0.6rem;
}
.section-messi .messi-info .cerebro {
  padding: 1.2rem;
}
.section-messi .messi-info .aimar {
  padding: 1.2rem;
}

.noticias .noticias-messi .ultimas-noticias {
  display: flex;
  padding: 1.8rem;
  justify-content: center;
}
.noticias .noticias1 .noticias-messi1 .noticias-martino {
  padding: 1.2rem;
}
.noticias .respuesta-tata {
  font-size: 1.2rem;
}

.biografia-messi .biografia {
  padding: 1rem;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: black;
  font-family: "Montserrat", sans-serif;
}

.palmares {
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-template-areas: "barsa      psg      miami      arg" "pal-barsa  pal-psg  pal-miami  pal-arg";
  gap: 2px;
  padding: 1rem;
}
.grid .barsa {
  display: grid;
  grid-area: barsa;
  background-color: #e5b5b5;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.grid .pal-barsa {
  display: grid;
  grid-area: pal-barsa;
  background-color: #e5b5b5;
  font-size: 18px;
  text-align: left;
  list-style-type: none;
}
.grid li {
  margin: 0.5rem;
}
.grid .psg {
  display: grid;
  grid-area: psg;
  background-color: #e5b5b5;
}
.grid .miami {
  display: grid;
  grid-area: miami;
  background-color: #e5b5b5;
}
.grid .arg {
  display: grid;
  grid-area: arg;
  background-color: #e5b5b5;
}
.grid .pal-psg {
  display: grid;
  grid-area: pal-psg;
  background-color: #e5b5b5;
  font-size: 18px;
  text-align: left;
  list-style-type: none;
}
.grid .pal-miami {
  display: grid;
  grid-area: pal-miami;
  background-color: #e5b5b5;
  font-size: 18px;
  text-align: left;
  list-style-type: none;
}
.grid .pal-arg {
  display: grid;
  grid-area: pal-arg;
  background-color: #e5b5b5;
  font-size: 18px;
  text-align: left;
  list-style-type: none;
}

.records-messi .messi-title1 {
  font-size: 2rem;
}
.records-messi .contenedor-records {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-areas: "records1 imagen-messi records2";
  gap: 2rem;
}
.records-messi .contenedor-records .records1 {
  list-style: none;
}
.records-messi .contenedor-records .records2 {
  list-style: none;
}
.records-messi .contenedor-records .imagen-messi :hover {
  transition: 2s;
  transform: rotate(720deg);
}

.class-stats .stats-barcelona {
  font-size: 24px;
  text-align: center;
}
.class-stats .contenedor-stats {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "......... goles         asistencias   partidos         titulos" "barcelona cant-goles    cant-asis     cant-partidos    cant-titulos" "psg       psg-goles     psg-asis      psg-partidos     psg-titulos" "miami     miami-goles   miami-asis    miami-partidos   miami-titulos" "arg       arg-goles     arg-asis      arg-partidos     arg-titulos" "total     total-goles   total-asis    total-partidos   total-titulos";
  gap: 2px;
  padding: 1rem;
}
.class-stats .contenedor-stats .barcelona {
  display: grid;
  grid-area: barcelona;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .goles {
  display: grid;
  grid-area: goles;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .asistencias {
  display: grid;
  grid-area: asistencias;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .partidos {
  display: grid;
  grid-area: partidos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .titulos {
  display: grid;
  grid-area: titulos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .cant-goles {
  grid-area: cant-goles;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .cant-asis {
  grid-area: cant-asis;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .cant-partidos {
  grid-area: cant-partidos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .cant-titulos {
  grid-area: cant-titulos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .psg {
  grid-area: psg;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .psg-goles {
  grid-area: psg-goles;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .psg-asis {
  grid-area: psg-asis;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .psg-partidos {
  grid-area: psg-partidos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .psg-titulos {
  grid-area: psg-titulos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .miami {
  grid-area: miami;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .miami-goles {
  grid-area: miami-goles;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .miami-asis {
  grid-area: miami-asis;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .miami-partidos {
  grid-area: miami-partidos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .miami-titulos {
  grid-area: miami-titulos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .arg {
  grid-area: arg;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .arg-goles {
  grid-area: arg-goles;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .arg-asis {
  grid-area: arg-asis;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .arg-partidos {
  grid-area: arg-partidos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .arg-titulos {
  grid-area: arg-titulos;
  background-color: #e5b5b5;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .total {
  grid-area: total;
  background-color: #e78787;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .total:hover {
  transition: 1s;
  transform: scale(1.3);
}
.class-stats .contenedor-stats .total-goles {
  grid-area: total-goles;
  background-color: #e78787;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .total-goles:hover {
  transition: 1s;
  transform: scale(1.3);
}
.class-stats .contenedor-stats .total-asis {
  grid-area: total-asis;
  background-color: #e78787;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .total-asis:hover {
  transition: 1s;
  transform: scale(1.3);
}
.class-stats .contenedor-stats .total-partidos {
  grid-area: total-partidos;
  background-color: #e78787;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .total-partidos:hover {
  transition: 1s;
  transform: scale(1.3);
}
.class-stats .contenedor-stats .total-titulos {
  grid-area: total-titulos;
  background-color: #e78787;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.class-stats .contenedor-stats .total-titulos:hover {
  transition: 1s;
  transform: scale(1.3);
}

.premios .messi-title1 .card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}
.premios .messi-title1 .card:hover {
  transition: 2s;
  transform: scale(1.1);
}

.footer {
  display: flex;
  justify-content: center;
  padding: 2rem;
}
.footer .footer-icons {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}
.footer a {
  color: black;
}

@media screen and (max-width: 480px) {
  .header {
    flex-direction: column;
    font-size: 13px;
  }
  .header .menu {
    flex-direction: row;
    font-size: 9.9px;
  }
  .header .menu .menu-item {
    font-size: 8.5px;
    margin-top: 1rem;
  }
  .messi-info .messi-title {
    font-size: 1.4rem;
    padding: 0.5rem;
  }
  .messi-info .cerebro {
    font-size: 19px;
  }
  .messi-info .cerebroimg {
    width: 70%;
    height: 75%;
  }
  .messi-info .aimar {
    font-size: 19px;
  }
  .messi-info .aimarimg {
    width: 70%;
    height: 75%;
  }
  .noticias .noticias-messi .ultimas-noticias {
    font-size: 1.4rem;
  }
  .noticias .noticias1 .noticias-messi1 .noticias-martino {
    font-size: 16px;
  }
  .noticias .videocontainer .container-tata {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
  }
  .noticias .videocontainer .container-tata .container-tataiframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .biografia {
    font-size: 1.4rem;
    font-weight: bold;
    padding: 0.5rem;
  }
  .biografia .carousel-item {
    width: 100%;
    height: 100%;
  }
  .biografia .carousel-item .carrosuel-img {
    width: 300px;
  }
  .palmares {
    font-size: 1.4rem;
  }
  .palmares .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 0.1fr);
    grid-template-areas: "barsa" "pal-barsa" "psg" "pal-psg" "miami" "pal-miami" "arg" "pal-arg";
  }
  .records-messi .messi-title1 {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .records-messi .contenedor-records {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "records1" "imagen-messi" "records2";
  }
  .records-messi .contenedor-records .records1 {
    font-size: 16px;
  }
  .records-messi .contenedor-records .records2 {
    font-size: 16px;
  }
  .records-messi .contenedor-records .imagen-messi {
    width: 1px;
  }
  .records-messi .contenedor-records .imagen-messi :hover {
    transition: 2s;
    transform: rotate(720deg);
  }
  .stats-title {
    font-size: 1.4rem;
    font-weight: bold;
  }
  .stats-title .contenedor-stats {
    justify-content: center;
    grid-template-columns: repeat(2, 0.5fr);
    grid-template-rows: repeat(4, 0.8fr);
    grid-template-areas: "barcelona barcelona barcelona barcelona" "goles asistencias partidos titulos" "cant-goles cant-asis cant-partidos cant-titulos" "psg        psg       psg           psg" "psg-goles     psg-asis      psg-partidos     psg-titulos" "miami         miami         miami            miami     " "miami-goles   miami-asis    miami-partidos     miami-titulos" "arg           arg           arg              arg       " "arg-goles     arg-asis      arg-partidos     arg-titulos" "total         total         total            total     " "total-goles   total-asis    total-partidos     total-titulos";
  }
}

/*# sourceMappingURL=styles.css.map */
