.biografia-messi{
    .biografia{
        padding: 1rem;
        display: flex;
        justify-content: center;
        font-size: 2rem;
        color:black;
        font-family: 'Montserrat', sans-serif;
            
    }
}

/* inicio sección palmarés */

.palmares{
    text-align: center;
}
    


/* inicio de seccion records */

/* SECCION STATS */

    














    

       

                

                   
                        
                        
                        
                        
                        
                        
                        
                        
                        
                       
                





















